<div class="header">
    <a class="pages" [routerLink]="['/']">HOME 1</a>
    <a class="pages" [routerLink]="['/about']">ABOUT 1</a>
    <a class="pages" [routerLink]="['/contact']">CONTACT 1</a>
    <a class="pages" [routerLink]="['/blog']">BLOG</a>
    <!-- <button class="createpost" [routerLink]="['/createpost']">Create Post</button>
    <a class="pages" [routerLink]="['/createpost']">Create Post</a> -->
    <a class="pages" [routerLink]="['/login']" *ngIf="!userName">LOGIN</a>
    <a class="pages" [routerLink]="['/signup']" *ngIf="!userName">SIGNUP</a>
    <a class="pages" (click)="logout()" *ngIf="userName">LOGOUT</a>
    <a class="pages" [routerLink]="['/profile']" *ngIf="userName">PROFILE</a>
    <span class="username" *ngIf="userName">Welcome {{userName}}</span>

</div>

