<app-afterheader></app-afterheader>
<div class="contact">
    <div class="contactimage"></div>
    <div class="contactcontainer">
        <h1>Contact Us</h1>

        <h4 class="contacttext">If you have any questions or comments, please don't hesitate to reach out to us. We're always happy to help!</h4>
        <div style="display: flex;">
            <button class="facebook" (click)="openFacebook()"></button>
            <button class="twitter" (click)="openTwitter()"></button>
            <button class="instagram" (click)="openInstagram()"></button>
            <button class="whatsapp" (click)="openWhatsapp()"></button>
        </div>

    <div>
</div>