.contact{
    background-image: linear-gradient(yellow,green, yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw
}
.contactimage{
    background-image:url(../../Contact.jpeg);
    background-size:cover;
    background-repeat:round;
    height: 100vh;
    width: 50vw;
    border-radius: 10px;
    margin: 10px;
    transform:scale(0.9);
    transition-duration: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.contactimage:hover{
    height: 100vh;
    width: 50vw;
    border-radius: 10px;
    margin: 10px;
    transform:scale(0.95);
    transition-duration: 0.3s;
}
.contactcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
    font-family: 'Times New Roman', Times, serif;
    background-color: burlywood;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    transform: scale(0.9);
    transition-duration: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.contactcontainer:hover {
    transform: scale(0.95);
    transition-duration: 0.3s;
}
.contatctext{
    font-size: 18px;
}
.facebook{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX-PpRq5o99qLdwaOFS6H4qZO3oVGWQMcyDg&s);
    color: white;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    margin: 10px;
    background-size: cover;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.twitter{
    background-image: url(https://img.freepik.com/free-vector/new-2023-twitter-logo-x-icon-design_1017-45418.jpg?size=338&ext=jpg&ga=GA1.1.2008272138.1725321600&semt=ais_hybrid);
    color: white;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    margin: 10px;
    background-size: cover;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.instagram{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyeUGF5xGri7cVva4FSa5YNgDWhDaxLlommw&s);
    color: white;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    margin: 10px;
    background-size: cover;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.whatsapp{
    background-image: url(https://cdn.iconscout.com/icon/premium/png-256-thumb/whatsapp-2752026-2284843.png?f=webp&w=256);
    color: white;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    margin: 10px;
    background-size: cover;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}